#title-bar {
    text-align: center;
    padding: 20px;
    background-color: rgb(80, 80, 80);
    color: white;
  }
  
  #search-title {
    font-weight: bolder;
    font-size: 32px;
  }
  
  #search-button {
    width: 100%;
    text-align: center;
    padding: 4px;
    border: 2px solid #202020;
    border-radius: 5px;
    color: white;
    background-color: #202020;
    font-size: 15px;
  }
  
  #line {
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  li:nth-child(even) {
    background: #b7b7b7;
    border-radius: 5px;
    margin-top: 15px;
    list-style-type: none;
    padding: 8px;
  }
  
  li:nth-child(odd) {
    background: #b7b7b7;
    border-radius: 5px;
    margin-top: 15px;
    list-style-type: none;
    padding: 8px;
  }
  
  #top-box {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
  }
  
  #weather-five {
    padding: 15px;
  }
  
  .weather-date {
    font-weight: bold;
  }
  
  #current-city {
    font-weight: bolder;
    font-size: 32px;
  }
  
  .current {
    margin-left: 10px;
  }
  
  #uv {
    background-color: green;
    color: white;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    font-weight: normal;
  }
  
  #five {
    font-weight: bold;
  }
  
  .weather-boxes {
    margin: 5px;
    background-color: #33475a;
    padding: 10px;
  }
  
  .list-group {
    text-align: center;
  }
  
  .space {
    margin-left: 6px;
  }
  
  button {
    border: none;
    outline: none;
    background-color: #b7b7b7;
    color: white;
  }